<main class="min-h-screen flex relative lg:static surface-ground">
  <section class="sh-sidebar-container surface-section h-screen hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border select-none">
    <app-sidebar />
  </section>
  <section class="min-h-screen flex flex-column relative flex-auto">
    <article class="sh-navbar-container flex justify-content-end align-items-center px-5 surface-0 border-bottom-1 surface-border relative lg:static">

      <app-navbar />
    </article>
    <article class="p-4 flex flex-column flex-auto sh-content-container">
      <router-outlet />
    </article>
  </section>
</main>
