<h1 class="mt-0">Películas</h1>
<div class="border p-3 surface-border border-round surface-section flex-auto">
  <p-tabView>
    <p-tabPanel
      *ngFor="let tab of [
        { title: 'Mejor valorados', movies: topMovies$ },
        { title: 'Seleccion variada', movies: normalMovies$ },
      ]"
      [header]="tab.title"
    >
      <section class="flex flex-wrap gap-3">

        <ng-container *ngFor="let movie of (tab.movies |async)">
          <app-movie-card [movie]="movie"/>

        </ng-container>
      </section>
    </p-tabPanel>
  </p-tabView>
  <app-loader></app-loader>


</div>
