.sh-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  &.has-overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000080;
  }
}
